body{
  background-color: black;
  color:white;
}

h1{
  text-align: center;
}

.footer{
  position: relative; 
  width: 100%;
  bottom: 0;
  line-height: 1rem; 
  margin-bottom: 1rem; 
  margin-top: 1rem;
  text-align: center; 
  font-weight: bold;
}

.spinner{
  position: fixed; 
  top: 33%;
  left: 50%;
}

.scroller{
  margin-top:4rem;
}

.detailsContentSection{
  margin-top: 5rem;
}

.detailsImage{
  max-width: 800px; 
  float: right;
}